*{
    margin: 0px;
}

header{
    margin-top: 1%;
    display: flex;
    align-items: center;
}

#logo-container{
    margin-left: 5%;
    margin-right: 55%;
}

hr {
    display:block;
    background-color:rgb(100, 200, 200);
    width: 80%;
    margin: auto;
}

h2{
    background-color: lavender;
}

