*{
    margin: 0px;
}

header{
    margin-top: 1%;
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    align-items: center;
}

.userInfo{
    margin-top: 1.5%;
    margin-left: 56%;
}

#signUpLink{
    font-size: 0.75vw;
    margin-left: 60%;
}

#skyBlueLine{
    margin-top: 0.5%;
}

hr {
    display:block;
    background-color: rgb(200, 49, 0);
    width: 80%;
    margin: auto;
}

h2{
    background-color: #fa6a00;
}

