*{
	padding:0;
	margin:0;
	/*box-sizing:border*/
}
html{
	height: 100%;
}
.wrapper{
	min-height: 100%;
	width: 100%;
	position:relative;
}
body{
	
	background-color: lightblue;

}
h2{
	padding: 50px;
	background: #112233;
	color: #f0f1f5;
	font-family: big john;
	font-size: 30px;
	letter-spacing: 15px;
	
}
nav{
	height: 50px;
	width: 560px;
	display: block;
	margin:0 auto;
	text-align:center;
	text-transform: uppercase;
}
nav a{
	display: block;
	/*text-orientation: none;*/
	font-family: monospace;
	font-weight: bold;
	font-size: 13pt;
	color: #4842f4;

}
nav a:hover{
	background:blue;
	color: #f0f1f5;
}
nav ul{
	list-style: none;
}
nav ul li{
	float: left;
	width: 100px;
	height: 40px;
	line-height: 40px;
	background:#f0f1f5;
} nav ul ul li{
	position: relative;
	display: none;
}
nav ul li:hover ul li{
	display: block;
	animation: navmenu 500ms forwards;

}
@keyframes navmenu{
	0%{
		opacity: 0;
		top: 5px;

	}
	100%{
		opacity: 1;
		top: 0px;
	}
}